@using JwrightWebsite.Models.BLL
@model IEnumerable<Student>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
        <table id="assets-data-table"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.ActionLink("Attendance", "Attendance", new { id = item.IDNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDNo })
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    @Html.ActionLink("Back to home", "Index", "Home")
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
